# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*

node_modules
dist
storybook-static/

# Style Dictionnary
src/styles/_variables.scss
src/styles/abstracts/variables/_tokens.scss
src/styles/abstracts/variables/_utilities.scss
src/constants/tokens.ts
src/constants/systemPropList.ts
src/constants/cssValuesList.ts
